.class0 {
    background-color: rgb(0, 0, 0) !important;
}
.class1 {
    background-image: url("images/1.png");
}
.class2 {
    background-image: url("images/2.png");
}
.class3 {
    background-image: url("images/3.png");
}
.class4 {
    background-image: url("images/4.png");
}
.class5 {
    background-image: url("images/5.png");
}
.class6 {
    background-image: url("images/6.png");
}
.class7 {
    background-image: url("images/7.png");
}
.class8 {
    background-image: url("images/8.png");
}
.class9 {
    background-image: url("images/9.png");
}
.class-1 {
    background-image: url("images/mine.png");
}